@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme('fontFamily.body');
    color: theme('colors.text-dark');
    background-color: theme('colors.white');
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #f3f4f6;
  }
}
